In [1]:
from xlrd import *
import win32com.client
import csv
import sys
import pandas as pd
from tempfile import NamedTemporaryFile

In [ ]:
path = "c:\\Users\\erick\\Desktop\\Archivos\\Otros\\Nielsen - Extraccion Papel Higienico Wm_Nacional y areas a P10'20.xls"

In [5]:
xlApp = win32com.client.Dispatch("Excel.Application")
filename,excel_password = r"c:\\Users\\erick\\Desktop\\Archivos\\Otros\\Nielsen - Extraccion Papel Higienico Wm_Nacional y areas a P10'20.xls",'password'

In [ ]:
# Note this line from the question posted
xlwb = xlApp.Workbooks.Open(filename, False, True, None, password)

xlws = xlwb.Sheets(1) # index is from 1
print (xlws.Name)
print (xlws.Cells(1, 1)) # if you need cell values

f = NamedTemporaryFile(delete=False, suffix='.csv')
f.close()
os.unlink(f.name)  

xlCSVWindows = 0x17  # CSV file format, from enum XlFileFormat
xlwb.SaveAs(Filename=f.name, FileFormat=xlCSVWindows) # Save as CSV

In [ ]:
f.name

In [ ]:
df = pd.read_csv(f.name)

In [ ]:
df

In [6]:
def excel_with_password(filename):
    # Abre el archivo 
    xlApp = win32com.client.Dispatch("Excel.Application")
    xlwb = xlApp.Workbooks.Open(filename, False, True, None, excel_password)

    # Selecciona la pestaña del archivo
    xlws = xlwb.Sheets(1) # Indice de la pestaña (empieza en 1)
    #print (xlws.Name)
    #print (xlws.Cells(1, 1))

    # Crea un archivo temporal en donde deposita los datos
    f = NamedTemporaryFile(delete=False, suffix='.csv')
    f.close()
    os.unlink(f.name)  

    # Guarda los datos en un csv y luego los lee con pandas
    xlCSVWindows = 0x17  # Convierte los datos en formato CSV (Windows)
    xlws.SaveAs(Filename=f.name, FileFormat=xlCSVWindows) # Salva a CSV
    
    return f.name

In [7]:
df = pd.read_csv(excel_with_password(filename))

In [8]:
df

,Departamento: Papel higienico,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,fecha: septiembre de 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Datos de Nielsen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,P06'20,P07'20,P08'20,P09'20,P10'20
4,Middle East and North Africa,Azerbaijan,Snacks,Online,C,10/8/2014,535113847,10/23/2014,934,152.58,97.44,142509.72,91008.96,51500.76,1,2,3,4,5
5,Central America and the Caribbean,Panama,Cosmetics,Offline,L,2/22/2015,874708545,2/27/2015,4551,437.2,263.33,1989697.2,1198414.83,791282.37,2,3,4,5,6
6,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Offline,M,12/9/2015,854349935,1/18/2016,9986,9.33,6.92,93169.38,69103.12,24066.26,1,2,3,4,5
7,Sub-Saharan Africa,Sao Tome and Principe,Personal Care,Online,M,9/17/2014,892836844,10/12/2014,9118,81.73,56.67,745214.14,516717.06,228497.08,2,3,4,5,6
8,Central America and the Caribbean,Belize,Household,Offline,H,2/4/2010,129280602,3/5/2010,5858,668.27,502.54,3914725.66,2943879.32,970846.34,1,2,3,4,5
9,Europe,Denmark,Clothes,Online,C,2/20/2013,473105037,2/28/2013,1149,109.28,35.84,125562.72,41180.16,84382.56,2,3,4,5,6
10,Europe,Germany,Cosmetics,Offline,M,3/31/2013,754046475,5/3/2013,7964,437.2,263.33,3481860.8,2097160.12,1384700.68,1,2,3,4,5
11,Middle East and North Africa,Turkey,Fruits,Online,C,3/26/2012,772153747,4/7/2012,6307,9.33,6.92,58844.31,43644.44,15199.87,2,3,4,5,6
12,Europe,United Kingdom,Snacks,Online,H,12/29/2012,847788178,1/15/2013,8217,152.58,97.44,1253749.86,800664.48,453085.38,1,2,3,4,5
13,Asia,Kazakhstan,Cosmetics,Online,H,9/11/2015,471623599,9/18/2015,2758,437.2,263.33,1205797.6,726264.14,479533.46,2,3,4,5,6
14,Central America and the Caribbean,Haiti,Cosmetics,Online,C,12/27/2013,554646337,1/1/2014,1031,437.2,263.33,450753.2,271493.23,179259.97,1,2,3,4,5
15,Europe,Italy,Clothes,Online,M,12/17/2013,278155219,1/10/2014,1165,109.28,35.84,127311.2,41753.6,85557.6,2,3,4,5,6
16,Europe,Malta,Household,Offline,L,3/10/2015,243761575,4/17/2015,3322,668.27,502.54,2219992.94,1669437.88,550555.06,1,2,3,4,5
17,Middle East and North Africa,Jordan,Household,Offline,L,7/9/2014,223389232,7/18/2014,4693,668.27,502.54,3136191.11,2358420.22,777770.89,2,3,4,5,6
18,Asia,Cambodia,Vegetables,Offline,H,6/14/2017,509274518,6/29/2017,4502,154.06,90.93,693578.12,409366.86,284211.26,1,2,3,4,5
19,Central America and the Caribbean,Saint Kitts and Nevis,Office Supplies,Online,H,8/10/2011,563966262,8/29/2011,9004,651.21,524.96,5863494.84,4726739.84,1136755,2,3,4,5,6

In [17]:
def delete_top_rows(dataframe):
        # Identifica en que fila se encuentra el primer encabezado (variable nombre_primera_columa) 
        top_row = dataframe.index[dataframe[dataframe.columns[0]] == nombre_primera_columa].tolist()
        
        # Elimina las primeras filas que no tienen datos
        dataframe = dataframe.iloc[top_row[0]:]
        dataframe = dataframe.reset_index(drop=True)
        
        # Promover primera fila como encabezado de columna
        new_header = dataframe.iloc[0]
        dataframe = dataframe[1:]
        dataframe.columns = new_header 
        
        return dataframe

In [14]:
dataframe[dataframe.columns[0]]
dataframe.columns[0]

0             fecha: septiembre de 2020
1                      Datos de Nielsen
2                                   NaN
3                                Region
4          Middle East and North Africa
5     Central America and the Caribbean
6                    Sub-Saharan Africa
7                    Sub-Saharan Africa
8     Central America and the Caribbean
9                                Europe
10                               Europe
11         Middle East and North Africa
12                               Europe
13                                 Asia
14    Central America and the Caribbean
15                               Europe
16                               Europe
17         Middle East and North Africa
18                                 Asia
19    Central America and the Caribbean
Name: Departamento: Papel higienico, dtype: object

In [19]:
nombre_primera_columa = 'Region'

In [20]:
df = delete_top_rows(df)

In [21]:
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,P06'20,P07'20,P08'20,P09'20,P10'20
1,Middle East and North Africa,Azerbaijan,Snacks,Online,C,10/8/2014,535113847,10/23/2014,934,152.58,97.44,142509.72,91008.96,51500.76,1,2,3,4,5
2,Central America and the Caribbean,Panama,Cosmetics,Offline,L,2/22/2015,874708545,2/27/2015,4551,437.2,263.33,1989697.2,1198414.83,791282.37,2,3,4,5,6
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Offline,M,12/9/2015,854349935,1/18/2016,9986,9.33,6.92,93169.38,69103.12,24066.26,1,2,3,4,5
4,Sub-Saharan Africa,Sao Tome and Principe,Personal Care,Online,M,9/17/2014,892836844,10/12/2014,9118,81.73,56.67,745214.14,516717.06,228497.08,2,3,4,5,6
5,Central America and the Caribbean,Belize,Household,Offline,H,2/4/2010,129280602,3/5/2010,5858,668.27,502.54,3914725.66,2943879.32,970846.34,1,2,3,4,5
6,Europe,Denmark,Clothes,Online,C,2/20/2013,473105037,2/28/2013,1149,109.28,35.84,125562.72,41180.16,84382.56,2,3,4,5,6
7,Europe,Germany,Cosmetics,Offline,M,3/31/2013,754046475,5/3/2013,7964,437.2,263.33,3481860.8,2097160.12,1384700.68,1,2,3,4,5
8,Middle East and North Africa,Turkey,Fruits,Online,C,3/26/2012,772153747,4/7/2012,6307,9.33,6.92,58844.31,43644.44,15199.87,2,3,4,5,6
9,Europe,United Kingdom,Snacks,Online,H,12/29/2012,847788178,1/15/2013,8217,152.58,97.44,1253749.86,800664.48,453085.38,1,2,3,4,5
10,Asia,Kazakhstan,Cosmetics,Online,H,9/11/2015,471623599,9/18/2015,2758,437.2,263.33,1205797.6,726264.14,479533.46,2,3,4,5,6
11,Central America and the Caribbean,Haiti,Cosmetics,Online,C,12/27/2013,554646337,1/1/2014,1031,437.2,263.33,450753.2,271493.23,179259.97,1,2,3,4,5
12,Europe,Italy,Clothes,Online,M,12/17/2013,278155219,1/10/2014,1165,109.28,35.84,127311.2,41753.6,85557.6,2,3,4,5,6
13,Europe,Malta,Household,Offline,L,3/10/2015,243761575,4/17/2015,3322,668.27,502.54,2219992.94,1669437.88,550555.06,1,2,3,4,5
14,Middle East and North Africa,Jordan,Household,Offline,L,7/9/2014,223389232,7/18/2014,4693,668.27,502.54,3136191.11,2358420.22,777770.89,2,3,4,5,6
15,Asia,Cambodia,Vegetables,Offline,H,6/14/2017,509274518,6/29/2017,4502,154.06,90.93,693578.12,409366.86,284211.26,1,2,3,4,5
16,Central America and the Caribbean,Saint Kitts and Nevis,Office Supplies,Online,H,8/10/2011,563966262,8/29/2011,9004,651.21,524.96,5863494.84,4726739.84,1136755,2,3,4,5,6